Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

add biofuel supply diff
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

added exogenous distributed solar forecasts
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Transformation.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DistributedSolar.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/distributed_solar_forecasts.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/distributed_solar_forecasts.py
Due: pylint-prep

reduced datacentre demand
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_align_eeud_sectors.py
Due: pylint-prep

more fixes lighting
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_align_eeud_sectors.py
Due: pylint-prep

more fixes to distributed solar
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/distributed_solar_forecasts.py
Due: pylint-prep

concordances update 2
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

changlog update
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

Datacentre fixes (#215)
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Transformation.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DistributedSolar.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/distributed_solar_forecasts.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_align_eeud_sectors.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/distributed_solar_forecasts.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/distribution.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
Due: pylint-prep

add polars and adjust wind analysis function to output assumptions
  PREPARE-TIMES-NZ/analysis/analyse_historical_wind_generation.py
  PREPARE-TIMES-NZ/analysis/analysis_readme.md
  PREPARE-TIMES-NZ/analysis/electricity_generation/analyse_historical_wind_generation.py
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
Due: pylint-prep

fix assumptions
  PREPARE-TIMES-NZ/analysis/electricity_generation/analyse_historical_wind_generation.py
Due: pylint-prep

switch to emi wind assumptions
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/RenewableCurves.csv
Due: none

changelog
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

changelog details
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/curves.csv
Due: none

deleted redundant working file
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/curves.csv
Due: none

Wind af curve fixes (#216)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/RenewableCurves.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
Due: none

adjust dist solar file to split projections by region
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/distributed_solar_forecasts.py
Due: pylint-prep

adjusting tomls
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DistributedSolar.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/distributed_solar_forecasts.py
Due: pylint-prep

Pendo analytics js plugin
  TIMES-NZ-INTERNAL-QA/app.py
  TIMES-NZ-INTERNAL-QA/manifest.json
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/requirements.txt
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/www/js/pendo-analytics.js
Due: pylint-qa

removed manifest
  TIMES-NZ-INTERNAL-QA/manifest.json
Due: none

doco + app update
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/distributed_solar_forecasts.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-prep, pylint-qa

v303 appid added
  TIMES-NZ-INTERNAL-QA/readme.md
Due: none

Distributed solar (#218)
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DistributedSolar.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/distributed_solar_forecasts.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-prep, pylint-qa

fixed Ag sector group not visible in energy emissions section of the tool
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_AGR.toml
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/emissions.csv
Due: none

fixed ice(sea transport disappearing from 2025
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_traditional.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_transformation.csv
  PREPARE-TIMES-NZ/data_raw/concordances/ag_forest_fish/tech_codes.csv
Due: none

further fixes to ice(sea) transport
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

label fix geothermal technologies
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_afa.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_fuel_opex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/ag_forest_fish/tech_codes.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/ag_forest_fish/align_eeud_sectors.py
Due: pylint-prep

adding geothermal tech to banned techs
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

Revert "adding geothermal tech to banned techs"
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

fixed off-road vehicles
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/ag_forest_fish/define_process_commodities.py
Due: pylint-prep

fix lng install in trad, remove mip, update docs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/oil_and_gas/lng_build_timing.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_lng.md
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

fixed ICE (land transport), GB, CY demand
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_traditional.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_transformation.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/ag_forest_fish/define_process_commodities.py
Due: pylint-prep

start new toml
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/ResidentialTechAfs.toml
Due: none

LNG update (#219)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/oil_and_gas/lng_build_timing.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_lng.md
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

wip
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/res_af_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/res_af_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/res_afa_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/reset_afa_default.csv
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/ResidentialTechAfs.toml
Due: none

.env gitignore redundancy, config update for new version
  .gitignore
  TIMES-NZ-INTERNAL-QA/.gitignore
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

fixed boiler systems by defining unique comm outputs
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/ag_forest_fish/define_process_commodities.py
Due: pylint-prep

more label fixes and docs update
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/livestock_horticulture_irrigation_patch.xlsx
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/existing_technologies.md
Due: none

concordance update
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
