Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

first build of new generalised methods
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/load_curves/fixed_af_technologies.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/residential_space_heating_af.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/technology_af_curves.py
  PREPARE-TIMES-NZ/tests/test_technology_af_curves.py
Due: pylint-prep

Agricultural demand fixes (#245)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/agriculture_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/external_data/mfe/Detailed-results-for-ERP2-projection-scenarios.xlsx
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/demand_projections.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/agriculture.py
  PREPARE-TIMES-NZ/tests/test_agriculture_demand_projections.py
Due: pylint-prep

stub test
  PREPARE-TIMES-NZ/tests/test_technology_af_curves.py
Due: pylint-prep

wire new outputs into output constriction. delete placeholder inputs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/fixed_heating_curves/res_af_per_slice_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/fixed_heating_curves/reset_afa_default.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
Due: none

remove old ripple methods
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/residential_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/load_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/technology_af_curves.py
Due: pylint-prep

DF outputs and fix dodo
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
Due: pylint-prep

df as subres and fix timeslice charts
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
Due: pylint-qa

remove DAYNITE tracking from demand processes
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
Due: pylint-prep

entirely remove the fixed_af method
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/load_curves/fixed_af_technologies.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/technology_af_curves.py
  PREPARE-TIMES-NZ/tests/test_technology_af_curves.py
Due: pylint-prep

remove orphaned reference
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
Due: pylint-prep

conc update
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

bug hunting: temp disable BIG row dupes. fix whareroa age
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

Set BEV and HFCV to start in 2030
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
Due: pylint-prep

fix biogas supply and demand
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/transformation_processes.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

concordance and docs update
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

review changes
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
Due: none

fix res pet/dies: shift load curves forward
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/load_curves.py
Due: pylint-prep

disable backward extrap for COM_FR
  PREPARE-TIMES-NZ/data_raw/user_config/settings/interpolation_extrapolation.csv
Due: none

added wood furnace for mineral sector
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/tech_codes.csv
Due: none

Fix various issues (#246)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/transformation_processes.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

minor ind newtech adjustments. remove base year peaking constraints
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/interpolation_extrapolation.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/load_curves.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

changelog and conc update
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

disable some unnecessary charts
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

disable some charts no longer needed - also fix timeslice interp
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

demandflex_transformation option
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
Due: none

remove BIG from meth/urea options
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
Due: pylint-prep

feat: switch solar availability workflow to TMY3 tarball
  PREPARE-TIMES-NZ/data_raw/external_data/niwa/README.md
  PREPARE-TIMES-NZ/data_raw/external_data/niwa/tmy2_epw.tar.gz
  PREPARE-TIMES-NZ/data_raw/external_data/niwa/tmy3_epw.tar.gz
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/tables/solar_availability_dist.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/tables/solar_availability_dist_bifacial.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/tables/solar_availability_utility_track.csv
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/niwa_tmy3_download.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_export_doc_tables.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_prepare_epw.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_run_hourly_profiles.py
  PREPARE-TIMES-NZ/tests/test_solar_prepare_epw.py
  PREPARE-TIMES-NZ/tests/test_timeslices.py
Due: pylint-prep

minor doc updates
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/storage.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
Due: none

chore: align formatter versions across CI and pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PREPARE-TIMES-NZ/tests/test_timeslices.py
  tools/check_formatter_versions.py
Due: pylint-prep

correct df output typo
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
Due: none

feat: switch solar availability workflow to TMY3 tarball (#249)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PREPARE-TIMES-NZ/data_raw/external_data/niwa/README.md
  PREPARE-TIMES-NZ/data_raw/external_data/niwa/tmy2_epw.tar.gz
  PREPARE-TIMES-NZ/data_raw/external_data/niwa/tmy3_epw.tar.gz
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/tables/solar_availability_dist.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/tables/solar_availability_dist_bifacial.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/tables/solar_availability_utility_track.csv
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/niwa_tmy3_download.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_export_doc_tables.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_prepare_epw.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_run_hourly_profiles.py
  PREPARE-TIMES-NZ/tests/test_solar_prepare_epw.py
  PREPARE-TIMES-NZ/tests/test_timeslices.py
  tools/check_formatter_versions.py
Due: pylint-prep

Demand device capacity chart
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

disable dummies entirely and tidy settings options related to these.
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/dummy_import_settings.csv
  PREPARE-TIMES-NZ/data_raw/user_config/settings/dummy_timeslices.csv
  PREPARE-TIMES-NZ/data_raw/user_config/settings/import_settings.csv
Due: none

enable relevant techs to flex demand to meet flexed commodity
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/demand_flex_enabled_techs.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
Due: pylint-prep

tidy up final df params for water heating
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
Due: none

df assumption doco
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/demand_flex.md
Due: none

changelog
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

tidy up some print calls
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/ag_forest_fish/align_eeud_sectors.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/industry/common.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/residential_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/residential/space_heating_model.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/industry.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/oil_and_gas.py
Due: pylint-prep

fix merge conflict in new techs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
Due: none

technology capacity unit fix
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
