Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

daynite_test
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
Due: pylint-prep

bump config version
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

version bump, battery tests
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_electricity_generation.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

fix battery activity constraints
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Shift.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Steady.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_H2_Shift.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
Due: pylint-prep

batt cap tweaks
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/Batteries.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
Due: none

changelog
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

battery capacity
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_electricity_generation.py
Due: pylint-qa

restructure batteries, add heat pump controllers
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Shift.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_Storage_Shift.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_Storage_Steady.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
Due: none

missing piece of restructure
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Steady.toml
Due: none

res df docs
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/demand_flex.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/index.md
Due: none

enable dev tab
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

additional detail on commodities for more flex control
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_RES.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/tests/test_residential_demand_flex.py
Due: pylint-prep

extra df technology detail
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/demand_flex_enabled_techs.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
  PREPARE-TIMES-NZ/tests/test_residential_demand_flex.py
Due: pylint-prep

constraints on res lpg cooking uptake
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

update LPG burner constraints and refresh tech concs
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

analysis_scripts
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_chart_helpers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_electricity_generation.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_indicators.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_transport.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_analysis_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
Due: pylint-qa

refactor analysis main
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_analysis_charts.py
Due: pylint-qa

additional data and chart staging area
  TIMES-NZ-INTERNAL-QA/analysis/data/other_model_ems.csv
  TIMES-NZ-INTERNAL-QA/analysis/data/other_model_gen.csv
  TIMES-NZ-INTERNAL-QA/analysis/data_raw/edgs_results.xlsx
  TIMES-NZ-INTERNAL-QA/analysis/data_raw/erp2_results.xlsx
  TIMES-NZ-INTERNAL-QA/analysis/data_raw/readme.txt
  TIMES-NZ-INTERNAL-QA/analysis/readme.txt
Due: none

wip
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

analysis scripts and other minor adjustments
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_RES.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DemandFlex.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/model_switches.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/time_of_use.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/wem_wcm.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/tests/test_residential_demand_flex.py
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/demand_flex/demand_flex.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_chart_helpers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_demand_flex_flows.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_electricity_generation.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/sensitivity_demand_flex_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/sensitivity_demand_flex_reporting.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/sensitivity_ets_price_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/sensitivity_ets_price_reporting.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-prep, pylint-qa

refactor analysis chart outputs (including data)
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_chart_helpers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_demand_flex_flows.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_electricity_generation.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_indicators.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_transport.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/sensitivity_demand_flex_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/sensitivity_ets_price_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/filepaths.py
Due: pylint-qa

chart tweaks
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_electricity_generation.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
Due: pylint-qa

audit update pillow
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: none

poetry update for prep dir, pillow + msgpack
  PREPARE-TIMES-NZ/poetry.lock
Due: none

first build
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_electricity_generation.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/datawrapper_helpers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/sensitivity_demand_flex_charts.py
Due: pylint-qa

wip
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_indicators.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_transport.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/datawrapper_helpers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/datawrapper/chart_updates.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/datawrapper/data_handling.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

setup for deployment
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
Due: pylint-qa

updates to doco and version numbers
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/base_year_demand.md
  PREPARE-TIMES-NZ/docs/source/scenarios/narratives.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
  PREPARE-TIMES-NZ/readme.md
Due: pylint-prep

3.0.8 publication (#299)
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/base_year_demand.md
  PREPARE-TIMES-NZ/docs/source/scenarios/narratives.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
  PREPARE-TIMES-NZ/readme.md
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
Due: pylint-prep, pylint-qa

aggregate downloads with clearer filenames
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
Due: pylint-qa

add total grouping option
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

pip update
  TIMES-NZ-INTERNAL-QA/pyproject.toml
Due: none

lockfile for pip
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: none

chore: poetry update pip
  PREPARE-TIMES-NZ/poetry.lock
Due: none

feat: table view of data
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/tests/test_table_view.py
Due: pylint-qa

wide tables and disable text wrapping
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/tests/test_table_view.py
Due: pylint-qa

timeslice labels for tables and downloads: distinguish two separate formatting stpes
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/tests/test_table_view.py
Due: pylint-qa

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
