Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

added new inputs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/res_af_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/res_af_per_slice_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/res_afa_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/reset_afa_default.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/res_af_08.csv
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/ResidentialTechAfs.toml
Due: none

updated change log
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

Fix/agriculture explorer (#220)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/livestock_horticulture_irrigation_patch.xlsx
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_traditional.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_transformation.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_afa.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_fuel_opex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/tech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/ag_forest_fish/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_AGR.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/existing_technologies.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/ag_forest_fish/align_eeud_sectors.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/ag_forest_fish/define_process_commodities.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/emissions.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

first build with sensitivity options
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/res_af_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/res_af_per_slice_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/res_afa_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/reset_afa_default.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

Fixed filter-bar dropdown direction
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_select_scenario.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/www/js/auto-position.js
Due: pylint-qa

adding the new curves to main curve scen file
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/fixed_heating_curves/res_af_per_slice_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/fixed_heating_curves/reset_afa_default.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/res_af_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/sensitivities/af_testing/res_afa_08.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/ResidentialTechAfs.toml
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

daynite all res processes
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
Due: pylint-prep

changelog
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

patch method and a few fixed years for genstack
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/GenstackPatches.toml
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/electricity_new_gen_tech.py
Due: pylint-prep

correct some peakcon rates
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
Due: none

doco update and turn down geo
  PREPARE-TIMES-NZ/analysis/electricity_generation/get_avg_afs.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/index.md
Due: pylint-prep

close te rapa and better doco detail on forced closures
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
Due: pylint-prep

remove some dupes from elc af dispatch/baseload tables
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
Due: none

Add iframe resizer script
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

add lookup codes to doco
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/code-lookups.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/currency.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/emissions.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/energy.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/batteries.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/closures.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/distribution.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/dummies.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/elec_generation.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/production.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/index.md
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/electricity_new_gen_tech.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/define_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/elec_processes.py
Due: pylint-prep, pylint-qa

rerun hly with refactor
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
Due: none

Genstack update (#222)
  PREPARE-TIMES-NZ/analysis/electricity_generation/get_avg_afs.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/GenstackPatches.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/code-lookups.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/currency.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/emissions.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/energy.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/batteries.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/closures.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/distribution.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/dummies.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/elec_generation.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/production.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/index.md
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/electricity_new_gen_tech.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/define_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/elec_processes.py
Due: pylint-prep, pylint-qa

Clear all filters button change
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

tightening years in post-processing to remove extras for explorer
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/run_all_postprocessing.py
Due: pylint-qa

commercial techname update
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/commercial_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_market_share.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_splits_by_sector_enduse.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_afa.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_opex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/tech_codes.csv
Due: none

update commodity output codes and ban some technologies
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_define_process_commodities.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

some ag fixes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_mpm.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_transformation.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/ag_forest_fish/define_process_commodities.py
Due: pylint-prep

app concordances update
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

update change log
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

Fix/commercial (#225)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_mpm.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_transformation.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/commercial_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_market_share.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_splits_by_sector_enduse.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_afa.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_opex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/tech_codes.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/ag_forest_fish/define_process_commodities.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_define_process_commodities.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

rebuild gas network and ensure bim blending
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/BaseConstraints.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
Due: pylint-prep

Res space heating demand curve flex fix (#221)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/fixed_heating_curves/res_af_per_slice_08.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/fixed_heating_curves/reset_afa_default.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-prep, pylint-qa

tighter year filters in post-processing (#224)
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/run_all_postprocessing.py
Due: pylint-qa

locking items to NI
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/industry_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG.toml
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/industry/industry_define_process_commodities.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/energy_commodities.py
Due: pylint-prep, pylint-qa

fix historical gas output levels per field
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/energy.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

fix closure feedstock shares for realistic shutdowns
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/sector_closures.py
Due: pylint-prep

force methanol/ballance closures to be even across all use types
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/SectorClosures.toml
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/closures.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/sector_closures.py
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/closures.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/closure_processes.py
Due: pylint-prep, pylint-qa

fix battery inputs
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
Due: pylint-prep

fixed transport AFs
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_transport_demand.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
Due: pylint-prep

update transport column names
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
Due: pylint-prep

update docs
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
Due: none

concordance updates
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

Fix/transport (#227)
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_transport_demand.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep
