Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

tidying some labelling
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_IND.toml
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/closures.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/industry/newtech_patches.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/closure_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/demand_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

biofuel veda inputs with all assumptions (#171)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/biomass_prices.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/recoverability_factors_by_resource.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/biomass_prices.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/industry/industry_define_process_commodities.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/biomass_forecasts.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

concordance updates
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
Due: none

fixing some tech table shapes that weren't being read properly
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_demand.py
Due: pylint-prep

other furnace duplication resolved
  PREPARE-TIMES-NZ/data_raw/concordances/industry/tech_codes.csv
Due: none

removing baseyear processes from com newtechs
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/utilities/deflator.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-prep, pylint-qa

bring forward transport new techs a little bit
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
Due: pylint-prep

extend cogen plant lifetimes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
Due: none

restrict cogen extension just to nzsteel
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

typo
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

coal ban and labelling for pri
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/coal_ban.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/distribution.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/biofuels/biofuel_techs.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
Due: pylint-prep

coalban toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/CoalBan.toml
Due: none

remove some old electricity bounds on commercial demand
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
Due: none

dodo update and shift to data for all years
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/milestone_years.csv
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_carbon_prices.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_standard_scenarios.py
Due: pylint-prep

removed hybrid diesel LCVs and onsite wood supply
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/wood processing residues.csv
  PREPARE-TIMES-NZ/data_raw/external_data/statsnz/agriculture/agricultural-production-statistics-year-to-june-2024-final.xlsx
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

coal ban tweaks and new tech expansion
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/import_settings.csv
  PREPARE-TIMES-NZ/data_raw/user_config/settings/milestone_years.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/coal_ban.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
Due: pylint-prep

disable dummies to prep for release
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
Due: none

fix nzsteel app labelling
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/electricity/tech_codes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

fix nat gas field labelling in emissions chart
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/demand_processes.py
Due: pylint-qa

disable infeasibilities on reporting (no longer created)
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

allow residential processes to use biogas
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
Due: pylint-prep

removed hybrid diesel LCVs and onsite wood supply (#173)
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/wood processing residues.csv
  PREPARE-TIMES-NZ/data_raw/external_data/statsnz/agriculture/agricultural-production-statistics-year-to-june-2024-final.xlsx
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

added capital costs for petrol and lpg buses
  PREPARE-TIMES-NZ/data_raw/eeca_data/tcoe/vehicle_costs_2023.xlsx
Due: none

add industrial waste water supply into municipal solid waste and waste water category
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

enable biogas in demand topology, and ban some base year transports
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/common.py
Due: pylint-prep

add diff battery cost scenarios, replace cost assumptions with raw input data
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/BatteryCosts.csv
  PREPARE-TIMES-NZ/data_raw/external_data/csiro/BatteryCosts.csv
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Transformation.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
Due: pylint-prep

env update for audit
  PREPARE-TIMES-NZ/poetry.lock
Due: none

discount rate scenarios
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DiscountRates.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/discount_rates.py
Due: pylint-prep

update fonttools for audit
  PREPARE-TIMES-NZ/poetry.lock
Due: none

More Batttery Costs (#175)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/BatteryCosts.csv
  PREPARE-TIMES-NZ/data_raw/external_data/csiro/BatteryCosts.csv
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Transformation.toml
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
Due: pylint-prep

Discount rate scenarios (#176)
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/DiscountRates.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/discount_rates.py
Due: pylint-prep

added capital costs for petrol and lpg buses (#174)
  PREPARE-TIMES-NZ/data_raw/eeca_data/tcoe/vehicle_costs_2023.xlsx
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

add discount rates to pipeline
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_standard_scenarios.py
Due: pylint-prep

primary energy charts fix
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/processes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

discount rate wildcard fixes
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/discount_rates.py
Due: pylint-prep

chart full downloads button
  TIMES-NZ-INTERNAL-QA/.gitignore
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/batteries.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_utilities.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/package_outputs.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/run_all_postprocessing.py
Due: pylint-qa

minor description change
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/supply_projections.py
Due: pylint-prep

minor fix varom biofuel transformation
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
Due: none

battery charts
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
