Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

correct diesel emissions mapping:
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

capture wind in primary energy reporting
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
Due: none

remove feedstock from energy demand outputs
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

temp reenable dev tab
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

meat heatpump growth constraints
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

note production app id
  TIMES-NZ-INTERNAL-QA/readme.md
Due: none

more explicit sector requirements for onsite biogas production
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
Due: pylint-prep

biofuel doco update for supply treatment
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/transformation_processes.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/existing_techs.md
Due: none

adjusting geothermal input energy to align better with official primary energy statistics
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/existing_techs.md
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
Due: pylint-prep

help text review
  TIMES-NZ-INTERNAL-QA/assets/docs/electricity_generation.md
  TIMES-NZ-INTERNAL-QA/assets/docs/emissions.md
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_demand.md
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_service_demand.md
  TIMES-NZ-INTERNAL-QA/assets/docs/primary_energy.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

mild text tweak
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_service_demand.md
Due: none

Maui update (#274)
  PREPARE-TIMES-NZ/analysis/oil_and_gas/field_supply_projections.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/industry_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_closures.csv
  PREPARE-TIMES-NZ/data_raw/external_data/gic/ProductionConsumption.xlsx
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/SectorClosures.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/figures/gas_projections_by_field.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/figures/gas_projections_national.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/overview.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/industry.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/gas_forecasts.py
Due: pylint-prep

changelog
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

transport capacity fixes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_transport_demand.py
Due: pylint-prep

updating some tech costs, ensuring doc consistency too
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/existing_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
Due: pylint-prep

eeca
  PREPARE-TIMES-NZ/docs/source/conf.py
Due: pylint-prep

gradual transport afa harmonise method
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/baseyear_demand.md
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_transport_demand.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
Due: pylint-prep

correct note quotes in data
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/tech_fuel_capex.csv
Due: none

correct a few prices
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/existing_techs.md
Due: none

adjust price base year for SGHP and extend deflator logic for future price base years
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/utilities/deflator.py
Due: pylint-prep

updating industrial ESD projections
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/industry_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_demand_drivers.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
Due: none

add hybrid constraints
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
Due: none

increase steady dairy cattle assumption to high, rather than baseline
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/agriculture_demand_projections.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/demand_projections.md
  PREPARE-TIMES-NZ/tests/test_agriculture_demand_projections.py
Due: pylint-prep

ESD projection updates (#278)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/agriculture_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/industry_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_demand_drivers.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
  PREPARE-TIMES-NZ/tests/test_agriculture_demand_projections.py
Due: pylint-prep

Transport utilisation fix (#277)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/baseyear_demand.md
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_transport_demand.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
Due: pylint-prep

HTHP cost updates (#276)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/existing_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/utilities/deflator.py
Due: pylint-prep

QA Adjustments (#275)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/transformation_processes.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/existing_techs.md
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/coal_ban.py
  TIMES-NZ-INTERNAL-QA/assets/docs/electricity_generation.md
  TIMES-NZ-INTERNAL-QA/assets/docs/emissions.md
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_demand.md
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_service_demand.md
  TIMES-NZ-INTERNAL-QA/assets/docs/primary_energy.md
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-prep, pylint-qa

docs proofreading review
  PREPARE-TIMES-NZ/docs/source/developer_guide/configuration_file_guide.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/load_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/emission_factors.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/cost_and_capability_assumptions.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/methodology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/banned_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/cap_constraints.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/topology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/existing_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/new_technologies.md
Due: none

scenario narratives and lng updates
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_lng.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/overview.md
  PREPARE-TIMES-NZ/docs/source/scenarios/narratives.md
Due: none

remove defunct issues log
  docs/issues-log.md
Due: none

gas dist and scenario param fixes
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/feedstock_supply_assumptions.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/base_year_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/delivery_distribution.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/index.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
Due: none

header
  PREPARE-TIMES-NZ/docs/source/conf.py
Due: pylint-prep

changelog update
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

Chore/doco updates (#279)
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/configuration_file_guide.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/feedstock_supply_assumptions.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/base_year_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/load_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/emission_factors.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/cost_and_capability_assumptions.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/methodology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/delivery_distribution.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_lng.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/overview.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/banned_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/cap_constraints.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/topology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/existing_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/new_technologies.md
  PREPARE-TIMES-NZ/docs/source/scenarios/narratives.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
  docs/issues-log.md
Due: pylint-prep

adjust for new year definitions and patch some missing techs
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/milestone_years.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/production.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/commercial/newtech_patches.csv
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/demand_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
Due: pylint-qa

most->least interesting order
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

App tab order (#289)
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

initial build, wip
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/.gitignore
  TIMES-NZ-INTERNAL-QA/analysis/data/other_model_ems.csv
  TIMES-NZ-INTERNAL-QA/analysis/data/other_model_gen.csv
  TIMES-NZ-INTERNAL-QA/analysis/data_raw/edgs_results.xlsx
  TIMES-NZ-INTERNAL-QA/analysis/data_raw/erp2_results.xlsx
  TIMES-NZ-INTERNAL-QA/analysis/data_raw/readme.txt
  TIMES-NZ-INTERNAL-QA/analysis/readme.txt
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
Due: pylint-qa

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
