Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

copy identifiers oops
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/dummies.csv:Zone.Identifier
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv:Zone.Identifier
Due: none

more accurate transport use descriptions, removing some old test files
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/TEST.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/commodities.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/demand_processes.py
Due: pylint-qa

install_dependencies
  PREPARE-TIMES-NZ/pyproject.toml
Due: none

significant refactoring, adjusting to plotly, nicer display
  TIMES-NZ-INTERNAL-QA/assets/app_use.md
  TIMES-NZ-INTERNAL-QA/assets/docs/electricity_generation.md
  TIMES-NZ-INTERNAL-QA/assets/docs/emissions.md
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_demand.md
  TIMES-NZ-INTERNAL-QA/assets/docs/infeasibilities.md
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/requirements.txt
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_dummies.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_readme_docs.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_select_scenario.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

ignore veda output files
  TIMES-NZ-INTERNAL-QA/.gitignore
Due: none

polars wip
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/attributes/attributes_for_ele_gen - Copy.csv:Zone.Identifier
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/attributes/attributes_for_energy_demand.csv
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

full conversion to polars methods. fixed aggressive filter updates. Filter clear button
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/attributes/attributes_for_ele_gen - Copy.csv:Zone.Identifier
  TIMES-NZ-INTERNAL-QA/requirements.txt
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_dummies.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

breaking out electricity demand separately
  TIMES-NZ-INTERNAL-QA/assets/app_use.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
Due: pylint-qa

com fix GHP EF and deflate costs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
Due: pylint-prep

com fix GHP EF and deflate costs (#150)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
Due: pylint-prep

energy service demand post-processing
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

adjusting all electricity distribution to ELCDD inputs. Deleted redundant distribution processes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/DistributionAssumptions.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_com_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_ind_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_res_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/transport.py
Due: pylint-prep

some definition updates
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/distribution.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_select_scenario.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/distribution_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

fix ele distribution (#151)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/DistributionAssumptions.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_com_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_ind_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_res_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/transport.py
Due: pylint-prep

esd tab build
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_service_demand.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_readme_docs.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

BUGFIX: diesel hybrids and Assumptions documentation in repo
  PREPARE-TIMES-NZ/analysis/demand_projections/industry_get_demand_growth.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/sector_demand_methods.csv
  PREPARE-TIMES-NZ/docs/model_methodology/base_year_agriculture.md
  PREPARE-TIMES-NZ/docs/model_methodology/base_year_commercial.md
  PREPARE-TIMES-NZ/docs/model_methodology/base_year_industry.md
  PREPARE-TIMES-NZ/docs/model_methodology/base_year_residential.md
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
Due: pylint-prep

programming really is crazy huh - forcing integers before strings so the whole demand sector doesn't break
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
Due: pylint-prep

minor fixes
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_service_demand.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
Due: pylint-qa

resolve filter clearing bug
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
Due: pylint-qa

demand year index fix (#152)
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
Due: pylint-prep

BUGFIX: diesel hybrids and Assumptions documentation in repo (#153)
  PREPARE-TIMES-NZ/analysis/demand_projections/industry_get_demand_growth.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/sector_demand_methods.csv
  PREPARE-TIMES-NZ/docs/model_methodology/base_year_agriculture.md
  PREPARE-TIMES-NZ/docs/model_methodology/base_year_commercial.md
  PREPARE-TIMES-NZ/docs/model_methodology/base_year_industry.md
  PREPARE-TIMES-NZ/docs/model_methodology/base_year_residential.md
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
Due: pylint-prep

methanex/ballance build closure build
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_closures.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/sector_closures.py
Due: pylint-prep

add to main orchestration
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_dem_proj_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/sector_closures.py
Due: pylint-prep

toml for closures and attempted bugfix for ele
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/SectorClosures.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

make really really sure demand infeasibilities are picked last
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
Due: none

minor tweaks
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/sector_closures.py
Due: pylint-prep

properly fixing by elc investments
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

functionalise standard explorer server patterns
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_dummies.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

app server factories (#156)
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_dummies.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

gas demand response (#155)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_closures.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/SectorClosures.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_dem_proj_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/sector_closures.py
Due: pylint-prep

fix com lighting and tra infeasibilities
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_opex.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_add_assumptions.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_align_eeud_sectors.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/transport.py
Due: pylint-prep

fix com lighting and tra infeasibilities (#157)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_opex.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_add_assumptions.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_align_eeud_sectors.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/transport.py
Due: pylint-prep

lock new plants to by+1
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
Due: pylint-prep

pull coal cogen out to separate datafile
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
Due: pylint-prep
