Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

redesign industrial newtechs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_lifetimes.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
  TIMES-NZ-INTERNAL-QA/.gitignore
Due: pylint-prep

conc update
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

Update SysSettings.xlsx (TIMES-NZ v303)
  TIMES-NZ/v303/SysSettings.xlsx
Due: none

Create SetRules xlsx based on Python Mapping files
  TIMES-NZ/v303/SetRules.xlsx
Due: none

Gas network update (#226)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/industry_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/BaseConstraints.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/SectorClosures.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/energy.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/closures.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/industry/industry_define_process_commodities.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/sector_closures.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/closures.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/closure_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/energy_commodities.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-prep, pylint-qa

some bans and changelog updates
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

bans and changelog updates take2
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/lifetime_assumptions.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

minimum peaker util, fix 2037 ban, fix ind petrol bans, changelog
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/coal_ban.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

poetry update
  PREPARE-TIMES-NZ/poetry.lock
Due: none

gitignore scratch
  TIMES-NZ-INTERNAL-QA/.gitignore
Due: none

black update
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
Due: none

poetry update
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
Due: none

version updates
  PREPARE-TIMES-NZ/dodo.py
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-prep, pylint-qa

conc update
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/eeud_patches/biomass_demand_patch.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/eeud_patches/readme.txt
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/eeud_patches/unallocated_demand_patch.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/use_codes.csv
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_eeud.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

Remove older iframe-resizer script
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

unallocated documentation
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
Due: none

Refactor ui_filter selection logic in filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
Due: pylint-qa

fix lng typo
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

increase hydro peakcon
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
Due: none

fixed big_broken_early_and_coal_ban_infeasibilities
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
Due: pylint-prep

interface improvements bulk
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_dummies.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

fixed commercial inc lighting
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

fixed lng implementation
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG.toml
Due: none

concordance updates
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

fix petrol emissions in residential, gitignore some local analysis
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_RES.toml
  TIMES-NZ-INTERNAL-QA/.gitignore
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

lng two-tier market
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_lng.md
Due: none

Fix/various issues (#231)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG.toml
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

add optional residential fossil limitation scenario
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/limit_fossils.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/WEM_WCM copy.toml
Due: none

fix data typo
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
Due: none

Remove process option
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
Due: pylint-qa

ind elc water heating and conc update
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

Human-readable labels
  PREPARE-TIMES-NZ/analysis/residential/analyse_load_curve_results.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_select_scenario.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_utilities.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/timeslices.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/package_outputs.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.py
Due: pylint-prep, pylint-qa

scenario rename fix
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
Due: none

scenario rename
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
Due: none

feat(electricity): add NIWA/PVWatts solar availability-factor pipeline
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/RenewableCurves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/SolarPvScenarios.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/SolarZoneWeights.csv
  PREPARE-TIMES-NZ/data_raw/external_data/niwa/tmy2_epw.tar.gz
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_build_curves.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_prepare_epw.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_run_hourly_profiles.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/wem_wcm.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
  PREPARE-TIMES-NZ/tests/conftest.py
  PREPARE-TIMES-NZ/tests/test_solar_availability_factors.py
  PREPARE-TIMES-NZ/tests/test_solar_prepare_epw.py
  PREPARE-TIMES-NZ/tests/test_timeslices.py
Due: pylint-prep

Refactor shared TIMES timeslice helpers
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_ea_data.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_run_hourly_profiles.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/residential_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/utilities/timeslices.py
Due: pylint-prep

add ele emissions labels. remove intl emissions
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
