Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

remove false positive invalid year warning
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/run_all_postprocessing.py
Due: pylint-qa

Update documentation to reflect solar modelling
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
Due: none

chore(ci): ignore unpatched Pygments CVE-2026-4539 in pip-audit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

assume all util solar is tracking now
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TrackingSolarPlants.csv
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/electricity_new_gen_tech.py
Due: pylint-prep

split different distributed solar tech types for new curve methods. also delete old references to future dist solar techs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/SolarTechTypes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/NewTechnology.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/SolarPvScenarios.csv
  PREPARE-TIMES-NZ/data_raw/concordances/electricity/future_tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/NewTech_ELC_TraditionalLowCost.toml
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/NewTech_ELC_TransformationLowCost.toml
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/electricity_new_gen_tech.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_build_curves.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/distributed_solar_forecasts.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/wem_wcm.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
  PREPARE-TIMES-NZ/tests/test_solar_availability_factors.py
Due: pylint-prep

shorten new generated dist names
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/distributed_solar_forecasts.py
Due: pylint-prep

concordance update for explorer
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/elec_generation.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/elec_processes.py
Due: pylint-qa

poetry update
  PREPARE-TIMES-NZ/poetry.lock
Due: none

minor refactor of main
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
Due: pylint-prep

create ouput constraint file
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
Due: pylint-prep

wiring new table into base constraints output
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/BaseConstraints.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
Due: pylint-prep

poetry update
  PREPARE-TIMES-NZ/poetry.lock
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: none

delete old constraints input
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/transport_demand/tra_constraints.csv
Due: none

update ci to ignore cve pygments
  .github/workflows/ci.yml
Due: none

fix(solar): use base-year calendar for AF timeslices and guard leap years
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_run_hourly_profiles.py
  PREPARE-TIMES-NZ/tests/test_timeslices.py
Due: pylint-prep

fix(solar): assign availability timeslices using NZ wall-clock time
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/availability_curves.md
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_run_hourly_profiles.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/utilities/timeslices.py
  PREPARE-TIMES-NZ/tests/test_timeslices.py
Due: pylint-prep

test(timeslices): stub stage-0 settings when loading solar script
  PREPARE-TIMES-NZ/tests/test_timeslices.py
Due: pylint-prep

feat: migrate explorer charts to Plotly with interpolation support
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_dummies.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

chore: ensure consistent ordering of csv outputs
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/sets_and_units.py
Due: pylint-qa

test(timeslices): create minimal stage-0 config for solar imports
  PREPARE-TIMES-NZ/tests/test_timeslices.py
Due: pylint-prep

chore: remove remaining Altair references
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/requirements.txt
Due: none

add diesel peakers
  PREPARE-TIMES-NZ/data_raw/concordances/electricity/future_tech_codes.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/electricity_new_gen_tech.py
Due: pylint-prep

consistent lighting labels for commercial
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/light_splits.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_afa.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_opex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/tech_codes.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_align_eeud_sectors.py
Due: pylint-prep

chore: remove old code for comparing scenarios with area charts
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
Due: pylint-qa

industry_tech_rework
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/times_eeud_tech_renames.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/banned_baseyear_technologies/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/banned_baseyear_technologies/methodology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
Due: none

initial data inputs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/electrolyser_costs - Copy.csv:Zone.Identifier
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/electrolyser_costs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/electrolyser_parameters.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/hydrogen_cost_parameters - Copy.csv:Zone.Identifier
Due: none

review changes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
Due: none

banned tech language edits
  PREPARE-TIMES-NZ/docs/source/model_methodology/banned_baseyear_technologies/methodology.md
Due: none

Fix/industry tech rework (#237)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/times_eeud_tech_renames.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/banned_baseyear_technologies/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/banned_baseyear_technologies/methodology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
Due: none

consistent lighting labels for commercial (#236)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/light_splits.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_afa.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_opex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/tech_codes.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_align_eeud_sectors.py
Due: pylint-prep

Transport utilisation update (#233)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/transport_demand/tra_constraints.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/BaseConstraints.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: pylint-prep

add diesel peakers (#235)
  PREPARE-TIMES-NZ/data_raw/concordances/electricity/future_tech_codes.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/electricity_new_gen_tech.py
Due: pylint-prep

fix: ensure only non-modelled years are interpolated
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
Due: pylint-qa

initial build
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/electrolyser_costs - Copy.csv:Zone.Identifier
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/electrolyser_costs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/electrolyser_parameters.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/hydrogen_cost_parameters - Copy.csv:Zone.Identifier
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_H2_Traditional copy.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_H2_Traditional.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_pri_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/hydrogen_electrolysers.py
Due: pylint-prep

solar patch - remove outdated reference
  PREPARE-TIMES-NZ/data_raw/concordances/electricity/future_tech_codes.csv
Due: none

more redundant solar file removal
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
Due: none

more redundant solar patching
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_run_hourly_profiles.py
Due: pylint-prep

305 update
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/elec_generation.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/elec_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
Due: pylint-qa
