Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

ele gen category updates
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/elec_processes.py
Due: pylint-qa

305 deploy
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/elec_generation.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/run_all_postprocessing.py
Due: pylint-qa

changelog update and 305 doco bump
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/conf.py
Due: pylint-prep

chore: pin pygments and remove pip-audit CVE exceptions
  .github/workflows/ci.yml
  PREPARE-TIMES-NZ/docs/requirements.txt
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/requirements.txt
Due: none

chore: pin pygments and remove pip-audit CVE exceptions (#239)
  .github/workflows/ci.yml
  PREPARE-TIMES-NZ/docs/requirements.txt
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/requirements.txt
Due: none

add handling for annual timeslices
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/timeslices.py
Due: pylint-qa

fix solar labelling, add infeas back for now
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/biofuels/biofuel_techs.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/electricity/tech_codes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

simplify primary energy chart
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
Due: none

ensuring efficiency can be specified per fuel. will make no difference in most cases, but allows different efficiencies for different fuels.
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

ensure correct huntly baseyear activity splits
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

fix space heating structure
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
Due: pylint-prep

clarify replaced techs is not required for space heating techs. Also ensure full sector coverage of heat pumps for space heating
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
Due: pylint-prep

doco update
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
Due: none

expand lng subres and scen files to multiple scenarios
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG_Transformation.toml
Due: none

doco update
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_lng.md
Due: none

block fuel switching between motive power petrol/diesel
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/residential/generate_process_names.py
Due: pylint-prep

doco
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/topology.md
Due: none

Hydrogen build and chart updates (#238)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/electrolyser_costs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/hydrogen/electrolyser_parameters.csv
  PREPARE-TIMES-NZ/data_raw/concordances/electricity/future_tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_H2_Traditional copy.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_H2_Traditional.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/elec_generation.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/production.csv
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/solar_run_hourly_profiles.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_pri_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/hydrogen_electrolysers.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/biofuels/biofuel_techs.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/electricity/tech_codes.csv
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/timeslices.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/elec_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
Due: pylint-prep, pylint-qa

Huntly fixes (#240)
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

Lng update (#242)
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_LNG_Transformation.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_lng.md
Due: none

Restrict residential mobile motive fuel switching (#243)
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/topology.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/residential/generate_process_names.py
Due: pylint-prep

feat: make interpolated bars the same style as non-interpolated
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
Due: pylint-qa

adding erp2 calculation methods directly
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/agriculture_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/external_data/mfe/Detailed-results-for-ERP2-projection-scenarios.xlsx
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/agriculture.py
  PREPARE-TIMES-NZ/tests/test_agriculture_demand_projections.py
Due: pylint-prep

docs: add quickstart guide
  readme.md
Due: none

feat: remove modal popup for invalid scenario comparison and chart type
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
Due: pylint-qa

fix: timeslice formatting error and fix x axis
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/timeslices.py
Due: pylint-qa

fix: overlapping legend and xaxis labels
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
Due: pylint-qa

chore: remove debug code
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
Due: pylint-qa

fix: performance improvements
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
Due: pylint-qa

chore: update poetry.lock
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: none

chore: ensure recent versions of pygments and requests
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
Due: none

poetry lock
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: none

prep lock
  PREPARE-TIMES-NZ/poetry.lock
Due: none

doco update
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/demand_projections.md
Due: none

portable tests
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/agriculture.py
  PREPARE-TIMES-NZ/tests/test_agriculture_demand_projections.py
Due: pylint-prep

fix industrial space heating heatpumps (#241)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
Due: pylint-prep

stub tests
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/agriculture.py
  PREPARE-TIMES-NZ/tests/test_agriculture_demand_projections.py
Due: pylint-prep

skeleton
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/residential_space_heating_af.py
Due: pylint-prep

monkeypatch
  PREPARE-TIMES-NZ/tests/test_agriculture_demand_projections.py
Due: pylint-prep

add industry new technologies
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
Due: pylint-prep
