Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

internal qa refactor as package
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/__init__.py
Due: pylint-qa

update pip vuln comment
  .github/workflows/ci.yml
Due: none

update poetry files
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
Due: none

comm_ag_load_curves_exclude_charging_curves
  PREPARE-TIMES-NZ/analysis/ag_forest_fish/analyse_load_curves.py
  PREPARE-TIMES-NZ/analysis/ag_forest_fish/analyse_load_curves_irrigation.py
  PREPARE-TIMES-NZ/analysis/commercial/analyse_load_curves.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves.xlsx
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_irrigation.xlsx
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/yrfr_season.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/commercial_curves.xlsx
Due: pylint-prep

convert to csv files
  PREPARE-TIMES-NZ/analysis/ag_forest_fish/analyse_load_curves.py
  PREPARE-TIMES-NZ/analysis/ag_forest_fish/analyse_load_curves_irrigation.py
  PREPARE-TIMES-NZ/analysis/commercial/analyse_load_curves.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_irrigation.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/commercial_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_market_share.csv
Due: pylint-prep

delete excels
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves.xlsx
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_irrigation.xlsx
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/commercial_curves.xlsx
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_market_share.xlsx
Due: none

comm_ag_load_curves_exclude_charging_curves (#139)
  PREPARE-TIMES-NZ/analysis/ag_forest_fish/analyse_load_curves.py
  PREPARE-TIMES-NZ/analysis/ag_forest_fish/analyse_load_curves_irrigation.py
  PREPARE-TIMES-NZ/analysis/commercial/analyse_load_curves.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_irrigation.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/yrfr_season.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/commercial_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_market_share.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_market_share.xlsx
Due: pylint-prep

coal/oil updates
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/oil_and_gas/oil_process_definitions.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
Due: none

more og fixes
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/oil_and_gas.py
Due: pylint-prep

minor settings and elc tweaks
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

patch for solar (need to do more robust AFA work here)
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

Chore/some model fixes (#141)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/oil_and_gas/oil_process_definitions.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/oil_and_gas.py
Due: pylint-prep

commercial_agriculture_newtechs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_traditional.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_transformation.csv
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_AGR_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_AGR_Transformation.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_agr_files.py
Due: pylint-prep

commercial_newtechs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_COM.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
Due: pylint-prep

pylint fix
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
Due: pylint-prep

Commercial_agriculture_newtechs (#142)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_traditional.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_transformation.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_AGR_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_AGR_Transformation.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_COM.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
Due: pylint-prep

put pages back in order
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

load curve COM_FR veda inputes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_mpm.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/load_curves_ind.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
Due: pylint-prep

load curve COM_FR veda inputes (#144)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_mpm.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/load_curves_ind.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
Due: pylint-prep

industrial demand projection calculations and optional charting
  PREPARE-TIMES-NZ/analysis/demand_projections/analyse_demand_projections.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/industry_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/sector_codes.csv
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/demand_projections/industry.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections.py
Due: pylint-prep

adjusting to driver allocation method (cleaner)
  PREPARE-TIMES-NZ/analysis/demand_projections/analyse_demand_projections.py
  PREPARE-TIMES-NZ/analysis/demand_projections/industry_get_demand_growth.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_demand_drivers.csv
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/demand_projections.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/demand_projections/industry.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_dem_proj_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/industry.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/population_projections.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/population_projections.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/driver_allocations.py
Due: pylint-prep

first demand build
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_demand_drivers.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/CommodityDemand.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_dem_proj_files.py
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: pylint-prep

battery fix
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
Due: pylint-prep

explicit region settings for drivers
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/CommodityDemand.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/driver_allocations.py
Due: pylint-prep

Feature/demand curves (#146)
  PREPARE-TIMES-NZ/analysis/demand_projections/analyse_demand_projections.py
  PREPARE-TIMES-NZ/analysis/demand_projections/industry_get_demand_growth.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/industry_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_demand_drivers.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/sector_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/CommodityDemand.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/demand_projections.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_dem_proj_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/industry.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/population_projections.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/population_projections.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/driver_allocations.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: pylint-prep

first build
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/carbon_prices/carbon_prices.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/carbon_prices/readme.txt
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_carbon_prices.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/carbon_prices.py
Due: pylint-prep

dodo and toml outputs
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/CarbonPrices.toml
  PREPARE-TIMES-NZ/dodo.py
Due: pylint-prep

ensure veda understands all load curve commodity groups
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_mpm.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
Due: pylint-prep

load curve commodity sync fix (#148)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_mpm.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
Due: pylint-prep

Feature/carbon prices (#147)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/carbon_prices/carbon_prices.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/carbon_prices/readme.txt
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/CarbonPrices.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_carbon_prices.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/carbon_prices.py
Due: pylint-prep
