Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

updated concordance files after the changes
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

Fix/explorer modules labels (#206)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_splits_by_sector_enduse.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/regional_splits_by_sector.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_afa.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/regional_splits_by_sector.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/regional_splits_by_sector_and_fuel.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/sector_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/times_eeud_commercial_categories.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/sector_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/times_eeud_industry_categories.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/industry/newtech_patches.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

update biofuel doc
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/feedstock_availability.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/output_fuels.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/overview.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/transformation_processes.md
Due: none

distinguish between biogas and biomethane
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/recoverability_factors_by_resource.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/regional_splits_by_fuel.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/residential/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_RES.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

demand flex trans expansion and new grid sensitivity
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurvesRipple.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/sensitivities/low_transmission_costs.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/residential_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/load_curves.py
Due: pylint-prep

minor doco update for comm hp costs
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/technology_parameters.md
Due: none

demand curve doco update
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/parameters.md
Due: none

biofuel additional scenario
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/AdditionalBioenergySupply.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

updated change log
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

removed biomethane emissions
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_RES.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
Due: pylint-prep

Minor changelog adjustments (biomethane as new feature not fix)
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

changes based on PR review
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/overview.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/transformation_processes.md
Due: none

Feature/biofuel scenario (#207)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/recoverability_factors_by_resource.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/regional_splits_by_fuel.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/residential/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/AdditionalBioenergySupply.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/feedstock_availability.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/output_fuels.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/transformation_processes.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

doco updates and fixes
  PREPARE-TIMES-NZ/analysis/residential/analyse_load_curve_results.py
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/output_fuels.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/res_rbs_weekday_ripple.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/residential_load_curves.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
Due: pylint-prep

changelog updates
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

adjusted scenarios to use less conservative cost curves for electricity generation
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/parameters.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
Due: pylint-prep

genstack capex sensitivity methods
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_TraditionalLowCost.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_TransformationLowCost.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
Due: pylint-prep

force dependency link for industry
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

Demand flex (#208)
  PREPARE-TIMES-NZ/analysis/residential/analyse_load_curve_results.py
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_TraditionalLowCost.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_TransformationLowCost.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurvesRipple.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/sensitivities/low_transmission_costs.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/output_fuels.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/technology_parameters.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/res_rbs_weekday_ripple.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/residential_load_curves.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/parameters.md
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/residential_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/load_curves.py
Due: pylint-prep

fixed a couple model sync issues
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/AdditionalBioenergySupply.toml
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/LowTransmissionCosts.toml
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/NewTech_ELC_TraditionalLowCost.toml
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/NewTech_ELC_TransformationLowCost.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

hydrogen assumption docs
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/cost_and_capability_assumptions.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/methodology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
Due: none

hydrogen assumption docs (#209)
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/cost_and_capability_assumptions.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/hydrogen/methodology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
Due: none

Sync Issue Fixes (#210)
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/AdditionalBioenergySupply.toml
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/LowTransmissionCosts.toml
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/NewTech_ELC_TraditionalLowCost.toml
  PREPARE-TIMES-NZ/data_raw/user_config/sensitivities/NewTech_ELC_TransformationLowCost.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

minor updates to new scens
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/distribution.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

not trust emi ngawha numbers
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/GenerationFleet.csv
Due: none

increase trust levels
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/GenerationFleet.csv
Due: none

fix biofuel bug
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

fix hydro dam flex and fix geo afs
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
Due: pylint-prep

fix af clash with base year data, and updated changelog
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
Due: pylint-prep

removed opinionated individual sector treatment from esd charts
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

typo
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
Due: pylint-qa

heatpump life adjustments and increased device flex
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/lifetime_assumptions.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
Due: pylint-prep

changelog update
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

ban new commercial gas builds
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

load curves and more tech bans
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/load_curves_ind.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

fix hp efficiency typo
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_efficiencies.csv
Due: none

changelog
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

loadcurves and other bugs (#211)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/load_curves_ind.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/lifetime_assumptions.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
Due: pylint-prep

Explorer ESD chart aggregation (#212)
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/distribution.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

explorer concordance updates
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/distribution.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
Due: none
