Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

Fix/tra future costs and afa (#200)
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/new_technologies.md
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/transport/extract_vehicle_future_costs_data.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

minor update and testing gas price changes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/oil_and_gas/commodity_prices.csv
  PREPARE-TIMES-NZ/readme.md
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

app deployment updates (id in readme not storing metadata). Gas testing
  .gitignore
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/oil_and_gas/commodity_prices.csv
  TIMES-NZ-INTERNAL-QA/.gitignore
  TIMES-NZ-INTERNAL-QA/app.py
  TIMES-NZ-INTERNAL-QA/readme.md
Due: pylint-qa

replacing missing module readme
  TIMES-NZ-INTERNAL-QA/readme.me
Due: none

fix readme location
  PREPARE-TIMES-NZ/readme.md
  TIMES-NZ-INTERNAL-QA/readme.me
Due: none

pip update
  PREPARE-TIMES-NZ/poetry.lock
Due: none

highlighted changelog and documented update to gas method
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/index.md
  PREPARE-TIMES-NZ/docs/source/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
Due: none

updated doco version release number
  PREPARE-TIMES-NZ/docs/source/conf.py
Due: pylint-prep

updated PR template to be more relevant to TIMES-NZ development
  .github/pull_request_template.md
Due: none

wip
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_rbs_data.py
Due: pylint-prep

roll back gas changes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/oil_and_gas/commodity_prices.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
Due: none

version reference updates
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/readme.md
Due: none

changelog
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

deployment readme update
  TIMES-NZ-INTERNAL-QA/readme.md
Due: none

very minor readme changes
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

incremnt to v302
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-prep, pylint-qa

adjusting gas prices and doco
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/oil_and_gas/commodity_prices.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
Due: none

readme update for new deploy
  TIMES-NZ-INTERNAL-QA/readme.md
Due: none

Gas production prices (#202)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/oil_and_gas/commodity_prices.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
  PREPARE-TIMES-NZ/readme.md
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-prep, pylint-qa

updated changelog adding more fixes
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

first build
  PREPARE-TIMES-NZ/data_raw/concordances/residential/rbs_end_use_codes.csv
  PREPARE-TIMES-NZ/scripts/prepare_times_nz_cli.py
  PREPARE-TIMES-NZ/scripts/prepare_times_nz_from_archive.py
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_rbs_data.py
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/settings/load_curves.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/national_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/residential_curves.py
  PREPARE-TIMES-NZ/tests/stage_2/test_load_curves.py
Due: pylint-prep

small update for 3.0.2 runs and fix missing detached space heating
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_snz_data.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/residential/space_heating_model.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-prep, pylint-qa

add ripple modification
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurvesRipple.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/residential_curves.py
Due: pylint-prep

env update
  PREPARE-TIMES-NZ/poetry.lock
Due: none

dodo adjustment
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/settings/load_curves.py
  PREPARE-TIMES-NZ/tests/stage_2/test_load_curves.py
Due: pylint-prep

add 302 appid
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

doco update and chart
  PREPARE-TIMES-NZ/analysis/residential/analyse_load_curve_results.py
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/res_rbs_weekday_ripple.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/residential_load_curves.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/residential_curves.py
  TIMES-NZ-INTERNAL-QA/readme.md
Due: pylint-prep

changelog update
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/conf.py
Due: pylint-prep

add ripple to main (not sensitivity)
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurves.toml
Due: none

a little more detail on ele fuel doco
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
Due: none

poetry update
  PREPARE-TIMES-NZ/poetry.lock
Due: none

changes following review
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
Due: none

updated changelog adding more fixes (#205)
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/poetry.lock
Due: none

fix filter clear bug (#203)
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
Due: pylint-qa

Res load curve detail (#204)
  PREPARE-TIMES-NZ/analysis/residential/analyse_load_curve_results.py
  PREPARE-TIMES-NZ/data_raw/concordances/residential/rbs_end_use_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/LoadCurvesRipple.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/res_rbs_weekday_ripple.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/residential_load_curves.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/prepare_times_nz_cli.py
  PREPARE-TIMES-NZ/scripts/prepare_times_nz_from_archive.py
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_rbs_data.py
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_snz_data.py
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/settings/load_curves.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_load_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/national_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/load_curves/residential_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/residential/space_heating_model.py
  PREPARE-TIMES-NZ/tests/stage_2/test_load_curves.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-prep, pylint-qa

removed transport esd from esd module and fixed labels
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/industry/newtech_patches.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

changed COM and IND labels
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/fuel_splits_by_sector_enduse.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/regional_splits_by_sector.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_afa.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/regional_splits_by_sector.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/regional_splits_by_sector_and_fuel.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/sector_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/times_eeud_commercial_categories.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/sector_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/times_eeud_industry_categories.csv
Due: none
