Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

eeud revision method
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/eeud_patches/manual_revisions.toml
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_eeud.py
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/electricity - Copy.csv
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/electricity - Copy.csv:Zone.Identifier
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/emissions.csv
Due: pylint-prep

remove nzsteel feedstock doublecounting
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/industry/industry_align_eeud_sectors.py
Due: pylint-prep

more com newtechflex
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/electricity.csv
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/emissions.csv
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/readme.txt
Due: pylint-prep

fix: button background colour
  TIMES-NZ-INTERNAL-QA/assets/styles.css
Due: none

calibration checks
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration.py
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_data/electricity.csv
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_data/emissions.csv
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_data/readme.txt
Due: pylint-qa

Generation adjustments (#257)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/Batteries.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/BatteryFixedCommissioning.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/FixedInstallMonths.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/GenstackPatches.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/RenewableAvailabilityCurves.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/common.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/fixed_plant_adjustments.py
  PREPARE-TIMES-NZ/tests/test_fixed_plant_adjustments.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

2024 eeud update and adjustments, and more calibration tests
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/residential/eff_by_tech_and_fuel.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/sector_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/residential/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/residential/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/eeca_data/eeud/EEUD 2017 - 2024 FINAL 20032026.xlsx
  PREPARE-TIMES-NZ/data_raw/eeca_data/eeud/EEUD_2023_comparison_report.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_eeud.py
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_fleet_vkt_pj_data.py
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_transport_demand.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/transport.py
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep, pylint-qa

wip
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/electricity - Copy.csv
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/electricity - Copy.csv:Zone.Identifier
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/electricity.csv
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/readme.txt
Due: none

remove manual patching
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/eeud_patches/manual_revisions.toml
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_eeud.py
Due: pylint-prep

adjust data center workflow to align with new eeud
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/data_centre_demand.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/regional_splits_by_sector.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_afa.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/datacentre_demand_projections.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_demand_drivers.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/sector_codes.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/base_year_demand.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_align_eeud_sectors.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/datacentre.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
Due: pylint-prep

elc statdiff tests
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
Due: none

tweaks for new transport categories
  PREPARE-TIMES-NZ/data_raw/concordances/transport/eeud_transport_extract_code_concordance.csv
  PREPARE-TIMES-NZ/data_raw/eeca_data/eeud/EEUD_PJ_2023.xlsx
  PREPARE-TIMES-NZ/data_raw/eeca_data/eeud/transport_energy_efficiency_2023.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_fleet_vkt_pj_data.py
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_transport_demand.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/transport.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

infeas testing
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.py
Due: pylint-qa

more emissions calibration tests
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration.py
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_data/emissions_concordance_2023.csv
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_data/ghg_inventory_2023.xlsx
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_data/industry_emissions_diagnostic_concordance_2023.csv
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_results.md
Due: pylint-qa

correct now broken default fuels
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/industry/industry_align_eeud_sectors.py
Due: pylint-prep

more calibration tests
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration.py
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_results.md
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-qa

tweak the topology expansion method to be more robust
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/common.py
Due: pylint-prep

minor tweaks to other industry
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/times_eeud_tech_renames.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
Due: pylint-prep

more calibration tweaks
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration.py
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_results.md
Due: pylint-qa

force historical gas prod
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
Due: none

lock res solar water
  PREPARE-TIMES-NZ/data_raw/concordances/residential/tech_codes.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/residential/generate_process_names.py
Due: pylint-prep

calibration and conc update
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration.py
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_results.md
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-qa

changelog
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

feat/limit_technology_uptake
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/tech_capacity_uptakes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/BaseConstraints.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_standard_scenarios.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/tech_capacity_uptakes.py
Due: pylint-prep

first cap limit build
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/BaseConstraints.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_standard_scenarios.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/capacity_limits.py
Due: pylint-prep

finish res limits
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

dairy heatpumps
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

minor reorganising of app dev features
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_developers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_utilities.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

more industrial heatpump capital limits
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

prototype bev limits
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

commercial and agriculture capacity limits
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

removed com tech bans
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
Due: none

some mild adjustments/testing of limits
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

more detail in dev tech cap chart
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_developers.py
Due: pylint-qa

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
