Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

adding nzsteel generation to outputs
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_ind_files.py
Due: pylint-prep

fixing bug in veda retrieval
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/processes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_data.py
Due: pylint-qa

force new plants to 2026 with setting input
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
Due: pylint-prep

coal cogen (#158)
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_ind_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
Due: pylint-prep

fixing bug in veda retrieval (#159)
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/processes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_data.py
Due: pylint-qa

WIP curve charts
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

concordance update
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/processes.csv
Due: none

demand curve chart
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

industry new tech veda files
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_IND.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

add plug-in hybrids and h2r technologies
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/tech_codes.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

tidy up ind new tech veda processing script
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

Feature/ind res (#160)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_fuel_capex.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_fuel_efficiencies.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/newtech_lifetimes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_IND.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

minor fixes on ag and ind
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_irrigation.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

ESD curve charts WIP
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

minor fixes on ag and ind (#161)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/ag_curves_irrigation.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

refactoring base year veda files, ensuring consistent daynite techs and AF > AFA
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_com_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_ind_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_pri_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_res_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_tra_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/oil_and_gas.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/common.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/driver_allocations.py
Due: pylint-prep

adjust scen list
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

AFs for new com techs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
Due: pylint-prep

starting on ag/ind newtech AFs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_traditional.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_transformation.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

newtech ag/ind AFs
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

annual timeslices on charts
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

need dn tracking for commodities
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
Due: pylint-prep

dodo refactor
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_com_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_demand_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_ind_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_res_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_tra_files.py
Due: pylint-prep

refresh concordances and adjust some chart orders
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
Due: pylint-qa

production data processing
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

Demand device availability fixes (#162)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_traditional.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/ag_forest_fish_demand/new_techs_transformation.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_demand_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_pri_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_tra_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/oil_and_gas.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/common.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/driver_allocations.py
Due: pylint-prep

Generation curve charts (#163)
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/processes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

renaming columns
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

first prod chart build (needs some info tidying)
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_readme_docs.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

conc refresh
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/processes.csv
Due: none

Feature/biofuels (#164)
  PREPARE-TIMES-NZ/data_raw/concordances/region_island_concordance.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/biomass_prices.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/a grade logs.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/douglas-fir production thinnings.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/in-forest residues ground-based cutover.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/in-forest residues landings.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/in-forests residues hauler cutover.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/k grade logs.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/municipal wood wastes.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/orchard and viticulture residues.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/port bark.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/production thinnings.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/pruning residues.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/pulp log.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/sawmill chip.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/shelterbelt turnover residuals.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/straw and stover residues.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/waste thinnings.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/residual_biomass/wood processing residues.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/supporting/NZ-Woody-Biomass-Residues-and-Resources-2024.pdf
  PREPARE-TIMES-NZ/data_raw/external_data/scion/supporting/all_in_forest_residues.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/supporting/biomass_classification.xlsx
  PREPARE-TIMES-NZ/data_raw/external_data/scion/supporting/pulp_log_after_incumbents_users.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/supporting/stumps.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_pri_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/biofuel.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

mild tidying
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
Due: pylint-qa

fix dupe bug
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/demand_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/distribution_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/elec_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/energy_commodities.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

more base year tech bans
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_demand_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

remove free tech function that wasn't working. ensure elc is DAYNITE tracked
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/common.py
Due: pylint-prep

add biomass supply to dodo
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/supply_projections.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/biomass_forecasts.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
Due: pylint-prep

wrong folder
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/supply_projections.py
Due: pylint-prep

elc dist DAYNITE settings. consistent transport save logging
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
Due: pylint-prep

add BIG to biofuel commodities and remove empty table
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
Due: pylint-prep
