Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

line_charts_and_toggle_buttons
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

line_charts_and_toggle_buttons
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
Due: pylint-qa

some minor relabelling
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
Due: none

light daynite load
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
Due: pylint-prep

moving coal cogen back to elc
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
Due: pylint-prep

extend life of cogen plants
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

some plant lifetime adjustments
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/GenerationFleet.csv
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
Due: pylint-prep

refactor concordance patches
  PREPARE-TIMES-NZ/data_raw/concordances/ag_forest_fish/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/ag_forest_fish/use_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/use_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/use_codes.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/biomass_prices.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_pri_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

refactor concordance patches (#167)
  PREPARE-TIMES-NZ/data_raw/concordances/ag_forest_fish/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/ag_forest_fish/use_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/commercial/use_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/tech_codes.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/use_codes.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/biomass_prices.csv
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_pri_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_agr_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_com_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

fixed geothermal generation output
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/RenewableCurves.csv
Due: none

fix new onshore wind peak contributions and lifetimes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
Due: pylint-prep

include costs for noncurved plant types
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
Due: pylint-prep

set geo fixed curves to ignore chp geo
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/RenewableCurves.csv
Due: none

refactor line chart function
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/agriculture/agriculture_process_patch.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/commercial/commercial_process_patch.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/demand_processes.py
Due: pylint-qa

more robust baseload plant settings
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/RenewableCurves.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
Due: pylint-prep

extending life of TCC by one year
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
Due: none

ensure battery avaialability
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Transformation.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
Due: pylint-prep

temp - remove geo from baseload method
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
Due: pylint-prep

attempt pri biofuel fix
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_pri_files.py
Due: pylint-prep

commercial dodo
  PREPARE-TIMES-NZ/dodo.py
Due: pylint-prep

correct filename :/
  PREPARE-TIMES-NZ/dodo.py
Due: pylint-prep

minor tweaks to line chart
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
Due: pylint-qa

Timeslice adjustments (#168)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/GenerationFleet.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/renewable_curves/RenewableCurves.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Traditional.toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_ELC_Transformation.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/supply_projections.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_demand_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_pri_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/biomass_forecasts.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/common.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
Due: pylint-prep

commercial dodo (#169)
  PREPARE-TIMES-NZ/dodo.py
Due: pylint-prep

App production charts (#165)
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_readme_docs.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/demand_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/distribution_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/elec_processes.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/energy_commodities.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

fix bar chart grouping and remove some unnecessary prints
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
Due: pylint-qa

remove line scen legends
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
Due: pylint-qa

lock kilns in place with no energy emissions
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
Due: pylint-prep

move newtechs to src
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_techs.py
Due: pylint-prep

Feature/app line charts (#166)
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/agriculture/agriculture_process_patch.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/commercial/commercial_process_patch.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/demand_processes.py
Due: pylint-qa

first pass
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/nzsteel_demand_adjustments.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/WEM_WCM_low.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/transport.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/demand_drivers.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/driver_allocations.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/eaf.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/demand_processes.py
Due: pylint-prep, pylint-qa

fix transport demand scenarios
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/transport.py
Due: pylint-prep

define closures
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_definitions/closure_processes.py
Due: pylint-qa

add closure defs to pipeline
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/closures.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/elec_generation.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/define_data.py
Due: pylint-qa

demand projections for new techs
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_IND.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/eaf.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/new_demand.py
Due: pylint-prep

newtech toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_IND.toml
Due: none

tidy toml
  PREPARE-TIMES-NZ/data_raw/user_config/new_technologies/NewTech_IND.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/eaf.py
Due: pylint-prep

minor bugfixes and transformation vkt projections
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/transport.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/wem_wcm.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/demand_projections/driver_allocations.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/industry/eaf.py
Due: pylint-prep

biofuel veda inputs with all assumptions
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/biomass_prices.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/recoverability_factors_by_resource.csv
  PREPARE-TIMES-NZ/data_raw/concordances/industry/fuel_codes.csv
  PREPARE-TIMES-NZ/data_raw/external_data/scion/biomass_prices.csv
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/industry/industry_define_process_commodities.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/biomass_forecasts.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

municipal wastes, animal manure, oil wastes supply splits between regions
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
