Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

more charts
  .pre-commit-config.yaml
  TIMES-NZ-INTERNAL-QA/pyproject.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
Due: pylint-qa

fix mobile motive
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

adjusting dev analysis charts, testing reduction in statdiff constraint
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_developers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

adjust to 307 checks
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
Due: pylint-qa

constraint tweaks
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
Due: none

refactor genstack patch method
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/electricity/electricity_new_gen_tech.py
Due: pylint-prep

te_mihi date fix
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/GenstackPatches.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
Due: none

307 update
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
Due: pylint-qa

refactor wip
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_analysis_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
Due: pylint-qa

wip - refactor analysis
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_analysis_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
Due: pylint-qa

adding gas supply charts
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_analysis_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
Due: pylint-qa

audit update
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: none

audit?
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
Due: none

lock black
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
Due: none

remove elc/hyd mm techs - dubious data and params
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/industry_tech_config.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/industry_demand/future_techs/tech_parameters.csv
Due: none

cap limits no longer needed
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

csv refresh
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
Due: none

sets update
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

sets update
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
Due: none

more emissions
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_analysis_charts.py
Due: pylint-qa

adjust meat hp constraints (were using dairy settings)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

audit update
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: none

wood boiler opex
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/tech_fuel_opex.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/technology_parameters.md
Due: none

pyarrow update
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
Due: none

update reserves, remove orphaned contingent module
  PREPARE-TIMES-NZ/data_raw/external_data/mbie/petroleum-reserves-1-jan-2026.xlsx
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/ContingentGas.toml
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_mbie_data.py
Due: pylint-prep

pre-commit fixes
  .pre-commit-config.yaml
  PREPARE-TIMES-NZ/scripts/stage_1_prep_raw_data/extract_mbie_data.py
  tools/pylint_precommit.py
Due: pylint-prep

rsconnect installs
  TIMES-NZ-INTERNAL-QA/poetry.lock
  TIMES-NZ-INTERNAL-QA/pyproject.toml
Due: none

appid added to list
  TIMES-NZ-INTERNAL-QA/readme.md
Due: none

commercial hwhp cap limits
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

limit doc update
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
Due: none

a few more adjustments
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/banned_techs.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/commercial/commercial_define_process_commodities.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
Due: pylint-prep

starlette update
  PREPARE-TIMES-NZ/poetry.lock
  TIMES-NZ-INTERNAL-QA/poetry.lock
Due: none

fix typo
  TIMES-NZ-INTERNAL-QA/readme.md
Due: none

minor doco updates
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
Due: none

final changelog for 307
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

re-disable dev ui tab from app
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

tidy names
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
Due: none

bump docs version number
  PREPARE-TIMES-NZ/docs/source/conf.py
Due: pylint-prep

refactor analysis scripts to reduce complexity
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/calibration_checks/calibration_results.md
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_chart_helpers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_electricity_generation.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_indicators.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_transport.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/create_analysis_charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/get_data.py
Due: pylint-qa

wip
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_chart_helpers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/analysis/analysis_electricity_generation.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa
