Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

Demand device capacity chart (#250)
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

add existing battery investment and docs. some doc error tidying
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/Batteries.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/BatteryFixedCommissioning.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/ExistingBatteryBuilds.toml
  PREPARE-TIMES-NZ/docs/source/developer_guide/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/banned_baseyear_technologies/methodology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/storage.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
Due: none

rearranged doc page slightly
  PREPARE-TIMES-NZ/docs/source/developer_guide/index.md
  PREPARE-TIMES-NZ/docs/source/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/scenarios/figures/industry_projections_input_energy.png
  PREPARE-TIMES-NZ/docs/source/scenarios/index.md
  PREPARE-TIMES-NZ/docs/source/scenarios/narratives.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
Due: none

changelog and minor assumption updates
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/Batteries.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/storage.md
Due: none

lock residential it/entertainment and misc to block erroneous tech swaps
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/residential/generate_process_names.py
Due: pylint-prep

fixed transport LPV BEV capacity
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/processes.csv
Due: pylint-prep

Residential miscellaneous demand (#252)
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/residential/generate_process_names.py
Due: pylint-prep

fixed transport LPV BEV capacity (#253)
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/transport.py
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/processes.csv
Due: pylint-prep

add other_industry locks. also tidy some console reporting
  PREPARE-TIMES-NZ/data_raw/concordances/industry/times_eeud_tech_renames.toml
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_IND.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/common/add_tech_assumptions.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
Due: pylint-prep

doco
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
Due: none

conc update
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
Due: none

conc update
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
Due: none

charts refactor, fix to occassional width locks
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
Due: pylint-qa

refactor and consistent legend appearance
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

some height adjustments
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

nicer timeslice x-axis
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/timeslices.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

nicer hover
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/www/js/custom-plotly-hover.js
Due: pylint-qa

Battery stack (#251)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/Batteries.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/BatteryFixedCommissioning.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/ExistingBatteryBuilds.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/index.md
  PREPARE-TIMES-NZ/docs/source/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/banned_baseyear_technologies/methodology.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/storage.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
  PREPARE-TIMES-NZ/docs/source/scenarios/figures/industry_projections_input_energy.png
  PREPARE-TIMES-NZ/docs/source/scenarios/index.md
  PREPARE-TIMES-NZ/docs/source/scenarios/narratives.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
Due: none

biofuel base year fix
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

wip
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/FixedInstallMonths.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/fixed_plant_adjustments.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
Due: pylint-prep

audit update
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
Due: none

UI layout fixes (#255)
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/timeslices.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/www/js/custom-plotly-hover.js
Due: pylint-qa

biofuel base year fix (#256)
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

wip
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/fixed_plant_adjustments.py
Due: pylint-prep

wire up adjustments into ren curves outputs
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/RenewableAvailabilityCurves.toml
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_elc_files.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/fixed_plant_adjustments.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/renewable_curves.py
  PREPARE-TIMES-NZ/tests/test_fixed_plant_adjustments.py
Due: pylint-prep

correct for veda interpretation and interpolation
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/fixed_plant_adjustments.py
  PREPARE-TIMES-NZ/tests/test_fixed_plant_adjustments.py
Due: pylint-prep

fix tabletype and correct tests
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/RenewableAvailabilityCurves.toml
  PREPARE-TIMES-NZ/tests/test_fixed_plant_adjustments.py
Due: pylint-prep

correct biofuel output wiring
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/biofuels.py
Due: pylint-prep

Lock other industry (#254)
  PREPARE-TIMES-NZ/data_raw/concordances/industry/times_eeud_tech_renames.toml
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_IND.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_2/common/add_tech_assumptions.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
Due: pylint-prep

add new data on install months, adjust some fixed install dates. Also fix battery bug.
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/BatteryFixedCommissioning.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/FixedInstallMonths.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/GenstackPatches.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/future_techs.md
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/common.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/fixed_plant_adjustments.py
Due: pylint-prep

Chart text change and size fix
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/www/js/custom-plotly-hover.js
Due: pylint-qa

conc update and infeas fix for other industry
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/commodity_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/commodities/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: pylint-prep

conc update and infeas fix for other industry
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/industrial.py
Due: pylint-prep

chart type button improvements
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/www/js/chart-toggle-width.js
Due: pylint-qa

docs and minor tweaks
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/Batteries.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/electricity_generation/future_techs/TechnologyAssumptions.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

feat: ensure pascal case conversion is consistent
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_dummies.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

fix: section title names
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
Due: pylint-qa

wip
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/electricity - Copy.csv
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/electricity - Copy.csv:Zone.Identifier
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/electricity.csv
  TIMES-NZ-INTERNAL-QA/data_raw/calibration_data/readme.txt
Due: none

feat: add llabel to help button
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
