Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

pylint-prep:
  name: pylint via Poetry (PREPARE-TIMES-NZ)
  language: system
  entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py

pylint-qa:
  name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
  language: system
  entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py

final alpha run?
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
Due: none

fixing some new ind pipelines
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
Due: pylint-prep

lower peak margin
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/WEM_WCM.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/WEM_WCM_low.toml
Due: none

give up on 2050 run
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/milestone_years.csv
Due: none

add biogas delivery costs properly, more robust dodo
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/WEM_WCM.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
Due: pylint-prep

minor fix varom biofuel transformation (#177)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
Due: none

delete more stuff
  .dockerignore
  .gitmodules
Due: none

design fixes
  PREPARE-TIMES-NZ/data_raw/external_data/statsnz/gdp/RNA434201_20250818_040444_58.csvZone.Identifier
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_select_scenario.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

documentation update
  docs/SystemConfigurationGuide.md
  docs/changelog.md
  docs/developer-setup-guide.md
  docs/issues-log.md
  docs/readme.md
  docs/vscode-and-poetry.md
  readme.md
Due: none

minor doco faffing around
  readme.md
Due: none

New chart features (#178)
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/WEM_WCM.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/WEM_WCM_low.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/milestone_years.csv
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/supply_projections.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_ind_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_standard_scenarios.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/discount_rates.py
  TIMES-NZ-INTERNAL-QA/.gitignore
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/batteries.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/transport/processes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_elec.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_utilities.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/package_outputs.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/run_all_postprocessing.py
Due: pylint-prep, pylint-qa

biofuel adjustments so no free bark
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
Due: none

add hydrogen commodities for ag (so not free anymore)
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/ag_forest_fish.py
Due: pylint-prep

add placeholder hyd production. Extend timeslices slightly
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
Due: none

aligned carbon price for demo path before 2026 to match the ERP2 figures
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/carbon_prices/carbon_prices.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/carbon_prices/readme.txt
Due: none

quick patch for extended year inputs - not robust but wrks for now
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

ban new hospo geothermal
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

block new baseyear battery build
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_storage.py
Due: pylint-prep

swap to testing version
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
Due: none

excess year method now more robust, but sillier. Needs better approach
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

issues log
  docs/issues-log.md
Due: none

minor fixes
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_PRI.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
  docs/issues-log.md
Due: pylint-prep

LPG had an unrealistic delivery advantage over biogas - made them equal for now
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/commercial.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/residential.py
Due: pylint-prep

docs
  docs/issues-log.md
Due: none

adjusting info buttons
  TIMES-NZ-INTERNAL-QA/assets/app_use.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_utilities.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  docs/issues-log.md
Due: pylint-qa

more buttons, issues updates
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  docs/issues-log.md
Due: pylint-qa

better doco files
  TIMES-NZ-INTERNAL-QA/assets/docs/electricity_generation.md
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_demand.md
  TIMES-NZ-INTERNAL-QA/assets/docs/energy_service_demand.md
  TIMES-NZ-INTERNAL-QA/assets/docs/primary_energy.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_utilities.py
Due: pylint-qa

app use edits
  TIMES-NZ-INTERNAL-QA/assets/app_use.md
Due: none

Remove min-height from top-level Shiny container
  TIMES-NZ-INTERNAL-QA/assets/styles.css
Due: none

iframe resize script
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

866?
  TIMES-NZ-INTERNAL-QA/assets/styles.css
Due: none

Iframe resize (#183)
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

fix filter clear bug
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_emissions.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_primary_energy.py
Due: pylint-qa

Path conditions:
  pylint-prep: any of: ^PREPARE-TIMES-NZ/.*\.py$ and \.py$ and not (^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
  pylint-qa: any of: ^TIMES-NZ-INTERNAL-QA/.*\.py$ and \.py$ and not (^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/)
