Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

MSWord documentation generation (#189)
  .gitignore
  PREPARE-TIMES-NZ/docs/helpers/table_to_convert.csv
  PREPARE-TIMES-NZ/docs/scripts/build-docx-no-fields.sh
  PREPARE-TIMES-NZ/docs/scripts/build-docx.sh
  PREPARE-TIMES-NZ/docs/scripts/update-docx-fields.sh
  PREPARE-TIMES-NZ/docs/scripts/update-fields.ps1
  PREPARE-TIMES-NZ/docs/source/_templates/EECATemplate.docx
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/editing_docs_directly_beginners.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/storage.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/archive/industry.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/existing_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/future_demand.md 
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/scenario_adjustments.md
  PREPARE-TIMES-NZ/poetry.lock
  PREPARE-TIMES-NZ/pyproject.toml
Due: pylint-prep

update rtd reqs
  PREPARE-TIMES-NZ/docs/requirements.txt
Due: none

update rtd requirements (#190)
  PREPARE-TIMES-NZ/docs/requirements.txt
Due: none

adding biofuels for new/existing plants
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
Due: pylint-prep

adding biofuels for new/existing plants (#191)
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_electricity_generation.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/electricity/new_generation.py
Due: pylint-prep

biofuel_electricity_costs
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
Due: none

migrated transport doco, added table expansion feature to docsite
  PREPARE-TIMES-NZ/docs/source/_static/custom.css
  PREPARE-TIMES-NZ/docs/source/_static/table_expand.js
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/base_year_transport.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/baseyear_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/existing_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/new_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/overview.md
Due: pylint-prep

first attempt at fixing ordering
  PREPARE-TIMES-NZ/scripts/stage_0_settings/parse_tomls.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_0/generate_documentation.py
  docs/model-structure.md
  docs/model_structure_docs/BY_Trans.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTech_LNG_Imports.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_COM.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_ELC_Traditional.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_ELC_Traditional_trans.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_ELC_Transformation.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_ELC_Transformation_trans.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_IND.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_TRA_Traditional.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_TRA_Transformation.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_SectorClosures.md
  docs/model_structure_docs/SuppXLS_Demands_Dem_Alloc+Series.md
  docs/model_structure_docs/SuppXLS_Scen_Base_Constraints.md
  docs/model_structure_docs/SuppXLS_Scen_EAFDemand_Traditional.md
  docs/model_structure_docs/SuppXLS_Scen_LoadCurve_COM-FR.md
  docs/model_structure_docs/SuppXLS_Scen_WEM_WCM.md
  docs/model_structure_docs/SuppXLS_Trades_ScenTrade_TRADE_PARMS.md
  docs/model_structure_docs/SysSettings.md
  docs/model_structure_docs/VT_TIMESNZ_AGR.md
  docs/model_structure_docs/VT_TIMESNZ_COM.md
  docs/model_structure_docs/VT_TIMESNZ_ELC.md
  docs/model_structure_docs/VT_TIMESNZ_IND.md
  docs/model_structure_docs/VT_TIMESNZ_PRI.md
  docs/model_structure_docs/VT_TIMESNZ_RES.md
  docs/model_structure_docs/VT_TIMESNZ_TRA.md
Due: pylint-prep

Fix doco generation order (#194)
  PREPARE-TIMES-NZ/scripts/stage_0_settings/parse_tomls.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_0/generate_documentation.py
  docs/model-structure.md
  docs/model_structure_docs/BY_Trans.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTech_LNG_Imports.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_COM.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_ELC_Traditional.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_ELC_Traditional_trans.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_ELC_Transformation.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_ELC_Transformation_trans.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_IND.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_TRA_Traditional.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_NewTechs_TRA_Transformation.md
  docs/model_structure_docs/SubRES_TMPL_SubRES_SectorClosures.md
  docs/model_structure_docs/SuppXLS_Demands_Dem_Alloc+Series.md
  docs/model_structure_docs/SuppXLS_Scen_Base_Constraints.md
  docs/model_structure_docs/SuppXLS_Scen_EAFDemand_Traditional.md
  docs/model_structure_docs/SuppXLS_Scen_LoadCurve_COM-FR.md
  docs/model_structure_docs/SuppXLS_Scen_WEM_WCM.md
  docs/model_structure_docs/SuppXLS_Trades_ScenTrade_TRADE_PARMS.md
  docs/model_structure_docs/SysSettings.md
  docs/model_structure_docs/VT_TIMESNZ_AGR.md
  docs/model_structure_docs/VT_TIMESNZ_COM.md
  docs/model_structure_docs/VT_TIMESNZ_ELC.md
  docs/model_structure_docs/VT_TIMESNZ_IND.md
  docs/model_structure_docs/VT_TIMESNZ_PRI.md
  docs/model_structure_docs/VT_TIMESNZ_RES.md
  docs/model_structure_docs/VT_TIMESNZ_TRA.md
Due: pylint-prep

Transport documentation (#193)
  PREPARE-TIMES-NZ/docs/source/_static/custom.css
  PREPARE-TIMES-NZ/docs/source/_static/table_expand.js
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/base_year_transport.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/baseyear_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/existing_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/new_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/overview.md
Due: pylint-prep

elc input share
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
Due: none

Feature/biofuel electricity costs (#192)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/biofuels/plant_processes.csv
Due: none

residential doco
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/demand_disaggregation.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/demand_by_fuel_space_heating.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/heating_shares.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/population_projections.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/residential_load_curves.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/new_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/old/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/technology_parameters.md
Due: none

proofreading pass
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/demand_disaggregation.md
Due: none

Res docs (#195)
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/demand_disaggregation.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/demand_by_fuel_space_heating.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/heating_shares.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/population_projections.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/figures/residential_load_curves.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/new_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/old/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/technology_parameters.md
Due: none

add ag, some layout and theme adjustments
  PREPARE-TIMES-NZ/docs/source/_static/custom.css
  PREPARE-TIMES-NZ/docs/source/_templates/sidebar-topnav.html
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/editing_docs_quickstart.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/index.md
  PREPARE-TIMES-NZ/docs/source/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/existing_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/future_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/old/old.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/overview.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/base_year_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/future_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/load_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/old/old.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/technology_parameters.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/future_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/index.md
Due: pylint-prep

some reorganising
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/existing_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/overview.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/existing_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/future_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/new_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/historical_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/residential_demand_curves.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/technology_parameters.md
Due: none

consistent numbering, remove archives, fix broken links
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/existing_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/future_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/old/old.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/future_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/old/old.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/technology_parameters.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/emission_factors.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/archive/industry.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/historic_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/scenario_adjustments.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/historical_demand.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/old/baseyear.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/technology_parameters.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/existing_technologies.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/index.md
Due: pylint-prep

oil and gas
  PREPARE-TIMES-NZ/docs/source/developer_guide/editing_docs_quickstart.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/delivery_distribution.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/emission_factors.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/figures/energy_in_new_zealand_2025_g5_production_profile_years.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/figures/gas_projections_by_field.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/figures/gas_projections_national.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_lng.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_oil_products.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/overview.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/residential/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/index.md
Due: none

biofuels wip
  PREPARE-TIMES-NZ/docs/source/_static/table_expand.js
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/developer_guide/documentation_maintenance.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/agr_forest_fish/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/feedstock_availability.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/figures/feedstock_supply_projections.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/output_fuels.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/overview.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/transformation_processes.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/electricity/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/appendix.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/imported_lng.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/index.md
Due: pylint-prep

biofuel section
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/output_fuels.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/transformation_processes.md
Due: none

scenarios
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/figures/industry_projections_input_energy.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/narratives.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/parameters.md
Due: none

landing page - barebones
  PREPARE-TIMES-NZ/docs/source/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/parameters.md
Due: none

bit more on landing page
  PREPARE-TIMES-NZ/docs/source/_static/custom.css
  PREPARE-TIMES-NZ/docs/source/_static/eeca.png
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/scenarios/narratives.md
Due: pylint-prep

remove shinyapps metadata
  .gitignore
  TIMES-NZ-INTERNAL-QA/rsconnect-python/TIMES-NZ-INTERNAL-QA.json
Due: none

change deployment target for new internal site
  TIMES-NZ-INTERNAL-QA/readme.md
Due: none

doco design tweaks
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/milestone_years.csv
  PREPARE-TIMES-NZ/docs/source/_static/custom.css
  PREPARE-TIMES-NZ/docs/source/conf.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_data.py
Due: pylint-prep, pylint-qa

boxshadow
  PREPARE-TIMES-NZ/docs/source/_static/custom.css
Due: none

minor tweaks
  PREPARE-TIMES-NZ/docs/source/_static/custom.css
  PREPARE-TIMES-NZ/docs/source/conf.py
Due: pylint-prep

explorer/design tweaks (#197)
  .gitignore
  PREPARE-TIMES-NZ/data_raw/user_config/settings/SysSettings.toml
  PREPARE-TIMES-NZ/data_raw/user_config/settings/milestone_years.csv
  PREPARE-TIMES-NZ/docs/source/_static/custom.css
  PREPARE-TIMES-NZ/docs/source/conf.py
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/readme.md
  TIMES-NZ-INTERNAL-QA/rsconnect-python/TIMES-NZ-INTERNAL-QA.json
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/get_data.py
Due: pylint-prep, pylint-qa

fixed processing edgecase when model results extended far past 2050
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/data_processing.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/server_functions.py
Due: pylint-qa

transport infeasibilites fix
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/transport_demand/tra_constraints.csv
Due: none

transport detailed explorer
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/distribution.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_dummies.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

document fixes
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/technology_parameters.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/new_technologies.md
Due: none

transport infeasibilites fix2
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/transport_demand/tra_constraints.csv
Due: none

fix/constraints_app_doc (#198)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/transport_demand/tra_constraints.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/commercial/technology_parameters.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/new_technologies.md
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/commodity_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/commodities/energy.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/distribution.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/production.csv
  TIMES-NZ-INTERNAL-QA/data_raw/concordance_patches/code_mapping/fuel_codes.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_dummies.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_esd.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/config.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/postprocessing/process_data.py
Due: pylint-qa

fixed transport costs and afas
  PREPARE-TIMES-NZ/docs/source/model_methodology/transport/new_technologies.md
  PREPARE-TIMES-NZ/scripts/stage_3_scenarios/transport/extract_vehicle_future_costs_data.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_newtechs_tra_files.py
Due: pylint-prep

new model run with tra fixes
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none
