Repository EECA-NZ/TIMES-NZ-Model-Files: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-prep, pylint-qa

.pre-commit-config.yaml:

---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        types: [python]
        files:  ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile=black"]
        types: [python]
        files: ^(PREPARE-TIMES-NZ|TIMES-NZ-INTERNAL-QA)/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: local
    hooks:
      - id: pylint-prep
        name: pylint via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run python ../tools/pylint_precommit.py
        types: [python]
        files: ^PREPARE-TIMES-NZ/.*\.py$
        exclude: ^PREPARE-TIMES-NZ/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

      - id: pylint-qa
        name: pylint via Poetry (TIMES-NZ-INTERNAL-QA)
        language: system
        entry: poetry --directory TIMES-NZ-INTERNAL-QA run python ../tools/pylint_precommit.py
        types: [python]
        files: ^TIMES-NZ-INTERNAL-QA/.*\.py$
        exclude: ^TIMES-NZ-INTERNAL-QA/(?:build|dist|output|data_raw|data_intermediate|\.venv|\.mypy_cache|\.pytest_cache|docs/_build)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^PREPARE-TIMES-NZ/.*\.(?:yml|yaml)$

  - repo: local
    hooks:
      - id: pip-audit-poetry
        name: pip-audit via Poetry (PREPARE-TIMES-NZ)
        language: system
        entry: poetry --directory PREPARE-TIMES-NZ run pip-audit
        args:
          - --progress-spinner=off
        pass_filenames: false
        always_run: true
        stages: [pre-push]

remove incorrect hydrogen link
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
Due: none

minor tweaks
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
Due: none

re-adding some com tech bans
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
Due: none

config steady/shift
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
Due: none

more robust hover
  TIMES-NZ-INTERNAL-QA/www/js/custom-plotly-hover.js
Due: none

minor tweaks to capacity_limits.toml
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
Due: none

biofuel assumption docs for scenario adjustments
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/feedstock_supply_assumptions.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/overview.md
Due: none

Tabset and button redesign
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

touch ups
  TIMES-NZ-INTERNAL-QA/assets/styles.css
Due: none

some reorganising and documentation updates
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/banned_baseyear_technologies/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/banned_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/cap_constraints.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/banned_techs.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_demand_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_common_constraints.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_standard_scenarios.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
Due: pylint-prep

lxml update
  PREPARE-TIMES-NZ/poetry.lock
Due: none

scenario selection, chart colours
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_select_scenario.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
Due: pylint-qa

lxml update (#268)
  PREPARE-TIMES-NZ/poetry.lock
Due: none

Capacity Limits (#265)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/commercial_demand/new_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/banned_techs.csv
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/data_raw/user_config/base_year/VT_TIMESNZ_ELC.toml
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/BaseConstraints.toml
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/demand.csv
  PREPARE-TIMES-NZ/docs/source/developer_guide/data/processes/process_sets_and_units.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/banned_baseyear_technologies/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/banned_techs.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/cap_constraints.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/banned_techs.csv
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  PREPARE-TIMES-NZ/dodo.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_baseyear_demand_files.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_common_constraints.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/baseyear/declare_banned_techs.py
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/capacity_limits.py
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/demand.csv
  TIMES-NZ-INTERNAL-QA/data/concordances/processes/process_sets_and_units.csv
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_developers.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_utilities.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/server.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/utilities/value_mappings.json
  TIMES-NZ-INTERNAL-QA/www/js/custom-plotly-hover.js
Due: pylint-prep, pylint-qa

Revert create_standard_scenarios.py
  PREPARE-TIMES-NZ/scripts/stage_4_veda_format/create_standard_scenarios.py
Due: pylint-prep

Biofuel scenario docs (#266)
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/feedstock_supply_assumptions.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/index.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/biofuel_supply/overview.md
Due: none

transport energy and efficiencies updates tb consistent with eeud update
  PREPARE-TIMES-NZ/data_raw/eeca_data/eeud/transport_energy_efficiency_2023.csv
Due: none

transport energy and efficiencies updates tb consistent with eeud update (#270)
  PREPARE-TIMES-NZ/data_raw/eeca_data/eeud/transport_energy_efficiency_2023.csv
Due: none

Refine explorer UI layout and stabilize Plotly interactions
  TIMES-NZ-INTERNAL-QA/app.py
  TIMES-NZ-INTERNAL-QA/assets/only_EECA_black.png
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/www/js/chart-toggle-width.js
  TIMES-NZ-INTERNAL-QA/www/js/custom-plotly-hover.js
  TIMES-NZ-INTERNAL-QA/www/js/plotly-chart-resize.js
Due: pylint-qa

Tidied CSS
  TIMES-NZ-INTERNAL-QA/assets/styles.css
Due: none

Dashboard redesign (#267)
  TIMES-NZ-INTERNAL-QA/app.py
  TIMES-NZ-INTERNAL-QA/assets/only_EECA_black.png
  TIMES-NZ-INTERNAL-QA/assets/styles.css
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_select_scenario.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/filters.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/ui.py
  TIMES-NZ-INTERNAL-QA/www/js/chart-toggle-width.js
  TIMES-NZ-INTERNAL-QA/www/js/custom-plotly-hover.js
  TIMES-NZ-INTERNAL-QA/www/js/plotly-chart-resize.js
Due: pylint-qa

doc auto update
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
Due: none

poetry update pip
  PREPARE-TIMES-NZ/poetry.lock
Due: none

maui 0 2027 production
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/gas_forecasts.py
Due: pylint-prep

update GIC
  PREPARE-TIMES-NZ/data_raw/external_data/gic/ProductionConsumption.xlsx
Due: none

fix transport transitions between 2023 and 2024
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/settings/capacity_limits.toml
  PREPARE-TIMES-NZ/docs/source/model_methodology/other_constraints/tables/capacity_limits_uc.csv
  PREPARE-TIMES-NZ/scripts/stage_2_baseyear/baseyear_transport_demand.py
Due: pylint-prep

fix Methanex to historical demand and close from 2027 (following Maui)
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/industry_demand_projections.csv
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_3/demand_projections/industry.py
Due: pylint-prep

fix legends, including a smaller cutoff for legend scroll options
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

remove methanex closure methods
  PREPARE-TIMES-NZ/data_raw/coded_assumptions/demand_projections/sector_closures.csv
  PREPARE-TIMES-NZ/data_raw/user_config/scenarios/SectorClosures.toml
Due: none

methanex doc updates
  PREPARE-TIMES-NZ/docs/source/model_methodology/industry/demand_projections.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
Due: none

gas supply doc update
  PREPARE-TIMES-NZ/analysis/oil_and_gas/field_supply_projections.py
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/figures/gas_projections_by_field.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/figures/gas_projections_national.png
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/overview.md
  PREPARE-TIMES-NZ/docs/source/scenarios/parameters.md
Due: pylint-prep

more doc updates
  PREPARE-TIMES-NZ/docs/source/changelog.md
  PREPARE-TIMES-NZ/docs/source/conf.py
  PREPARE-TIMES-NZ/docs/source/model_methodology/oil_gas/domestic_production.md
Due: pylint-prep

Chart legend fix (#273)
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/charts.py
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/helpers/ui_elements.py
Due: pylint-qa

fix coal cooking
  PREPARE-TIMES-NZ/src/prepare_times_nz/stage_4/coal_ban.py
Due: pylint-prep

doco
  PREPARE-TIMES-NZ/docs/source/changelog.md
Due: none

adjust transport demand charts slightly
  PREPARE-TIMES-NZ/docs/source/changelog.md
  TIMES-NZ-INTERNAL-QA/src/times_nz_internal_qa/app/app_module_demand.py
Due: pylint-qa
